.Header {
    background-color: white;
    display: flex;
    width: 100%;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 5px rgb(190, 190, 190);
    box-shadow:0px 0px 5px rgb(190, 190, 190);
    margin-bottom: 10px;
}

.Logo {
    width: 20px;
    margin: 0 20px;
}

.Navigation {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    margin: 0 20px;
}

.SearchBar {
    margin: 0 20px;
    width: 400px;
}

.UserInfo {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    width: 240px;
    margin: 0 20px;
}