.InvPage {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.InvMain {
    display: flex;
    display: -webkit-flex;
    width: 80%;
    align-items: center;
    background: transparent;
    /* border-radius: 2px; */
}

.InvContent {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 20px 0;
    padding: 20px;
    border: 1px #ddd;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgb(190, 190, 190);
    box-shadow: 0px 0px 5px rgb(190, 190, 190);
    width: 80%;
    opacity: 0.95;
    overflow-y: auto;
}

.inv-form {
    padding: 0 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background: transparent;
}

.FormItem {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;


}

.title {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 22px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 32px;
    color: #1a1a1a;
    margin: 0;
    font: inherit;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.paragraph {
    margin-top: 0;
    margin: 1.4em 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-break: break-word;
    line-height: 1.6;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    color: #1a1a1a;
    -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}