.LoginPage {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.LoginMain {
    display: flex;
    display: -webkit-flex;
    width: 40%;
    align-items: center;
    background: transparent;
    /* border-radius: 2px; */
}

.LoginContent {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    padding: 20px;
    border: 1px #ddd;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgb(190, 190, 190);
    box-shadow: 0px 0px 5px rgb(190, 190, 190);
    width: 95%;
    opacity: 0.95;

}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}