.RegisterPage {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.RegisterMain {
    display: flex;
    display: -webkit-flex;
    width: 40%;
    align-items: center;
    background: transparent;
}

.RegisterContent {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    padding: 20px;
    border: 1px #ddd;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgb(190, 190, 190);
    box-shadow: 0 0 5px rgb(190, 190, 190);
    width: 95%;
    opacity: 0.95;
}

.register-form {
    width: 350px;
}